version: '3.8'

services:
  ci-cd-app:
    image: ghcr.io/les8dub/lab2-ci-cd/ci-cd-app:latest
    container_name: ci-cd-app
    restart: unless-stopped
    ports:
      - "8000:8000"

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_POLL_INTERVAL=30
      - WATCHTOWER_CLEANUP=true
    command: --interval 30 ci-cd-app
